<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiniu.shortvideo.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".ShortVideoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/qn_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/LaunchScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoRecordActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.VideoEditActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.ChooseMusicActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.VideoMixRecordActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.MediaSelectActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.VideoTrimActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.PlaybackActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.WebDisplayActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.ConfigActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.VideoPuzzleConfigActivity"
                  android:launchMode="singleTop" />
        <activity android:name=".activity.VideoPuzzleActivity"
                  android:launchMode="singleTop" />
    </application>

</manifest>